<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.runtime.remoting>
    <application>
      <client>
        <wellknown
           type="IPSNorte.Portal.eXpertisObjects.UserService, IPSNorte.Portal.eXpertisObjects"
        url="tcp://localhost:33000/UserService" />
      </client>
    </application>
  </system.runtime.remoting>
</configuration>
